@import url("https://fonts.googleapis.com/css?family=EB+Garamond");

:root {
  --color-primary: #358ed7;
  --color-secondary: #34495e;
  --color-light: #f8f4f4;
  --color-red: #f54b5e;
  --color-green: #48d2a0;
  --color-yellow: #f8c61c;
  --color-white: #ffffff;
  --color-labels: #858585;
  --color-light-grey: #adafb2;
  --color-grey: #79878e;
  --color-header: rgba(212, 190, 224, 0.9);
  --color-header-shadow: rgba(174, 143, 177, 0.8);
  --color-header-info: rgba(231, 220, 237, 0.4);
  --color-package-service: rgba(190, 223, 255, 0.6);
  --color-pack: rgba(255, 255, 255, 0.5);
  --color-services: rgba(136, 155, 211, 0.4);
  --color-footer: rgba(36, 48, 76, 0.9);
  --opacity-disabled: 0.5;
  --font-size-h1: 64px;
  --font-size-h2: 48px;
  --font-size-h3: 40px;
  --font-size-h4: 36px;
  --font-size-h5: 24px;
  --font-size-package-service__pack: 16px;
}
body {
  -webkit-overflow-scrolling: touch;
  font-size: 18px;
  color: var(--color-footer);
  font-family: "EB Garamond", serif;
  min-width: 300px;
}
h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
h2 {
  font-weight: 600;
}
.button {
  outline: none;
  border-radius: 5px;
  user-select: none;
  border: none;
  cursor: pointer;
}
input {
  padding: 40px;
}
.header {
  min-height: 12vh;
  align-items: center;
  background-color: var(--color-header);
  display: flex;
  box-shadow: 0 5px 2px -2px var(--color-header-shadow);
}
.navbar {
  padding: 0px 7vw;
}
.navbar a {
  font-weight: 800;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}
.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}
.navbar-brand img {
  width: 100%;
}
#logo {
  width: 30%;
}
.navbar-inverse .navbar-brand {
  color: #999;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: bold;
}
.navbar-right {
  justify-content: flex-end;
}
#header-info {
  margin-top: 12vh;
  padding: 10vh 8vw;
  background-attachment: relative;
  background-color: var(--color-header-info);
  min-height: 88vh;
  text-align: right;
  display: flex;
  align-items: center;

  border-bottom: 1px solid #ccc;
  text-align: center;
}
.header-info__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-info__img {
  /* background: url("../assets/img/1920/smm-png-8.png") center center;
  background-size: cover; */
}
.header-info__img img {
  width: 100%;
}
.header-info__button {
  margin-top: 20px;
}
.header-info__titles {
  color: var(--color-footer);
}
.package-service {
  padding: 10vh 10px;
  min-height: 88vh;
  align-items: center;
  background: linear-gradient(
    to top,
    var(--color-package-service),
    var(--color-package-service)
  );
  background-repeat: no-repeat;
}
.package-service__h {
  margin-bottom: 10vh;
}
.package-service__pack {
  min-height: 40vh;
  border-radius: 30px;
  min-width: 250px;
  width: 80%;
  padding: 30px 40px;
  background-color: var(--color-pack);
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
}
.package-service__info-after {
}
.package-service__pack:last-child {
}
.package-service__pack__h {
  margin-bottom: 20px;
  font-weight: bold;
}
.package-service__pack li {
  margin-bottom: 20px;
}
.package-service__pack p {
  text-align: justify;
  text-indent: 20px;
}
.package-service__pack__ul li {
  text-align: center;
}
.package-service__row {
  display: flex;
  justify-content: center;
}

.main {
  padding-top: 30px;
  min-height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgb(190, 223, 255, 0.4);
}
.reviews__info {
  font-size: 36px;
}
.reviews__methods {
  margin-bottom: 20px;
}
.reviews__methods__photo {
  margin-right: 20px;
  display: inline-block;
}
.reviews__methods__info {
  display: inline-block;
}
.gallery {
  padding: 7vh 5vw;
  min-height: 90vh;
  background-color: var(--color-services);
  text-align: center;
}
.gallery__img {
  width: 90%;
  margin: 0 auto;
}
.gallery__block-img {
  display: inline-block;
  width: 400px;
  margin: 30px 10px;
}
/*////DREAM-TEAM////*/

.dream-team {
  padding: 5vh 0;
}
.dream-team__left {
  width: 20%;
  display: none;
}
.dream-team__left__logo {
  margin: 0 auto;
  width: 100%;
  padding-left: 20%;
  font-weight: bold;
  font-size: 30px;
}
.dream-team__main {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  /*
  background: linear-gradient(
    to right,
    #fff,
    #aaaaff 27%,
    #aaaaff 27%,
    #aaaaff 57%
  );*/
}

.dream-team__header {
}
li p {
  font-size: 22px;
}
.dream-team__members {
  width: 100%;
}
.dream-team__member {
  height: 450px;
  margin: 10px;
}
.dream-team__member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dream-team__members-list {
  position: relative;
  margin-top: 70px;
  padding: 0;
  list-style: none;
}

.footer {
  min-height: 15vh;
  padding: 30px 40px;
  color: #fff;
  background-color: var(--color-footer);
}
.footer__contacts {
  display: inline-block;
  vertical-align: bottom;
  max-width: 300px;
  min-width: 240px;
  margin-bottom: 10px;
}
.footer__contacts__h {
  margin-bottom: 20px;
}
.footer__contacts__p {
  margin-bottom: 5px;
}
.footer__social {
  margin-bottom: 20px;
}
.footer__copyright {
  float: right;
}
.footer__copyright__logo {
  font-weight: bold;
}
.footer__copyright__list {
  padding-left: 0;
}
.footer__copyright__li {
  display: inline-block;
  padding-right: 5px;
}
.footer__copyright__li,
.footer__copyright__a {
  font-size: 14px;
  color: #939ab1;
}
.archor {
  position: absolute;
  top: -12vh;
}
section,
footer,
main {
  position: relative;
}
svg {
  width: 32px;
  height: 32px;
}
.svg-telegram,
.svg-instagram,
.svg-vk,
.svg-whatsapp {
  fill: #fff;
  margin-right: 10px;
}
.svg-whatsapp {
  margin-right: 0;
}
.svg-telegram:hover,
.modal__svg-telegram:hover {
  fill: rgb(56, 181, 228, 1);
}
.svg-whatsapp:hover,
.modal__svg-whatsapp:hover {
  fill: #4fce5d;
}
.svg-vk:hover,
.modal__svg-vk:hover {
  fill: #597da3;
}
.svg-instagram:hover,
.modal__svg-instagram:hover {
  fill: url(#my-cool-gradient2);
}
.info-request {
  display: none;
}

@media (min-width: 325px) {
  h1 {
    font-size: 28px;
  }
}
@media (min-width: 576px) {
  h1 {
    font-size: 36px;
  }
  .package-service__pack {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar a {
    font-size: 18px;
  }
  #logo {
    width: 24%;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 44px;
  }
  .navbar a {
    font-size: 22px;
    margin-left: 10px;
  }
  .gallery__block-img {
    display: inline-block;
    width: 300px;
    margin: 30px 20px;
  }
  .dream-team__left {
    display: inline-block;
    width: 20%;
    height: 100%;
    margin-right: -4px;
  }
  .dream-team__main {
    width: 80%;
  }
  .package-service__pack {
    width: 350px;
    font-size: 18px;
  }
  .dream-team__members-list {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr 30px 1fr;
  }
  #logo {
    width: 15%;
  }
}
@media (min-width: 970px) {
  h1 {
    font-size: 56px;
  }
  .package-service__pack {
    width: 400px;
    font-size: 24px;
  }
  #header-info {
    text-align: left;
  }

  .gallery__block-img {
    width: 230px;
  }
  .dream-team__members-list {
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-row-gap: 70px;
  }
  .navbar a {
    font-size: 22px;
    margin-left: 15px;
  }
}
@media (min-width: 1100px) {
  .package-service__pack {
    width: 470px;
    font-size: 22px;
    margin: 30px 30px;
  }
  .package-service__pack__h {
    font-size: 28px;
  }
  #logo {
    width: 10%;
  }
}
@media (min-width: 1300px) {
  h1 {
    font-size: 64px;
  }
  .gallery__block-img {
    width: 350px;
  }
  .dream-team__left__logo {
    font-size: 32px;
  }
  .package-service__pack {
    width: 520px;
    font-size: 24px;
  }
  .navbar a {
    font-size: 21px;
    margin-left: 16px;
  }
  .package-service__info-after {
    font-size: 28px;
  }
  .footer__contacts {
    font-size: 20px;
  }
  .footer__contacts__h {
    font-size: 26px;
  }
}
@media (min-width: 1600px) {
  h1 {
    font-size: 68px;
  }
  .package-service__pack {
    width: 350px;
    font-size: 24px;
    margin: 30px 20px;
  }
  .gallery__block-img {
    width: 430px;
  }
  .dream-team__left__logo {
    font-size: 40px;
  }
  .dream-team__member {
    height: 620px;
  }
  .package-service__info-after {
    font-size: 32px;
  }
  #logo {
    width: 12%;
  }
}
@media (min-width: 1900px) {
  h1 {
    font-size: 68px;
  }
  .package-service__pack {
    width: 420px;
    font-size: 26px;
  }
  .dream-team__member {
    height: 730px;
  }
  .gallery__block-img {
    width: 500px;
  }
  .navbar a {
    font-size: 30px;
    margin-left: 20px;
  }
  .package-service__info-after {
    font-size: 34px;
  }
  .package-service__pack__h {
    font-size: 32px;
  }
  .footer__contacts {
    font-size: 25px;
  }
  .footer__contacts__h {
    font-size: 32px;
  }
  svg {
    width: 48px;
    height: 48px;
  }
  #logo {
    width: 12%;
  }
}
.package-service__info-after {
  width: 80%;
  min-height: 20vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
