:root {
  --color-primary: #358ed7;
  --color-secondary: #34495e;
  --color-light: #f8f4f4;
  --color-red: #f54b5e;
  --color-green: #48d2a0;
  --color-yellow: #f8c61c;
  --color-white: #ffffff;
  --color-labels: #858585;
  --color-light-grey: #adafb2;
  --color-grey: #79878e;
  --opacity-disabled: 0.5;
  --font-size-h1: 64px;
  --font-size-h2: 48px;
  --font-size-h3: 40px;
  --font-size-h4: 36px;
  --font-size-h5: 24px;
  --font-size-other: 14px;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  color: #000;
}

header {
  min-height: 12vh;
  align-items: center;
  display: flex;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  margin: 1em 0;
  padding: 0;
}
.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}
.navbar-inverse .navbar-brand {
  color: #999;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: bold;
}
.navbar-right {
  justify-content: flex-end;
}
#header-info {
  background: url("../assets/img/header-bg.png") no-repeat center;
  margin-top: 12vh;
  background-attachment: relative;
  background-position: center center;
  min-height: 88vh;
  background-size: cover;
  text-align: right;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.header-info__button {
  margin-top: 20px;
}
.header-info__titles {
}
.main {
  padding-top: 30px;
  min-height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
}
.main__info {
  font-size: 36px;
}
.main__methods {
  margin-bottom: 20px;
}
.main__methods__photo {
  width: 280px;
  height: 210px;
  display: inline-block;
  margin-right: 20px;
}
.main__methods__info {
  display: inline-block;
}
.footer {
  min-height: 15vh;
  padding: 30px 40px;
  color: #fff;
}
.footer__contacts {
  display: inline-block;
  vertical-align: bottom;
  width: 300px;
}
.footer__contacts__h {
  margin-bottom: 20px;
}
.footer__contacts__p {
  margin-bottom: 5px;
}
.footer__copyright {
  float: right;
}
.footer__copyright__logo {
  font-weight: bold;
}
.footer__copyright__li {
  display: inline-block;
  padding-right: 5px;
}
.footer__copyright__li,
.footer__copyright__a {
  font-size: 12px;
  color: #939ab1;
}
.archor-main {
  position: absolute;
  bottom: 12vh;
}
@media (max-width: 576px) {
  h1 {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}
