:root {
  --color-primary: #358ed7;
  --color-secondary: #34495e;
  --color-light: #f8f4f4;
  --color-red: #f54b5e;
  --color-green: #48d2a0;
  --color-yellow: #f8c61c;
  --color-white: #ffffff;
  --color-labels: #858585;
  --color-light-grey: #adafb2;
  --color-grey: #79878e;
  --color-header: rgba(212, 190, 224, 0.99);
  --color-header-shadow: rgba(174, 143, 177, 0.8);
  --color-header-info: rgba(231, 220, 237, 0.4);
  --color-package-service: rgba(190, 223, 255, 0.6);
  --color-pack: rgba(255, 255, 255, 0.5);
  --color-services: rgba(136, 155, 211, 0.4);
  --color-footer: rgba(36, 48, 76, 0.9);
  --opacity-disabled: 0.5;
  --font-size-h1: 64px;
  --font-size-h2: 48px;
  --font-size-h3: 40px;
  --font-size-h4: 36px;
  --font-size-h5: 24px;
  --font-size-other: 14px;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
}
h1 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.header {
  min-height: 12vh;
  align-items: center;
  background-color: var(--color-header);
  display: flex;
  box-shadow: 0 5px 2px -2px var(--color-header-shadow);
}

.navbar a {
  font-weight: 800;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}
.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}
.navbar-inverse .navbar-brand {
  color: #999;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: bold;
}
.navbar-right {
  justify-content: flex-end;
}
#header-info {
  margin-top: 12vh;
  padding-top: 7vh;
  background-attachment: relative;
  background-color: var(--color-header-info);
  min-height: 88vh;
  text-align: right;
  display: flex;
  align-items: center;

  border-bottom: 1px solid #ccc;
  text-align: center;
}
.header-info__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-info__img {
  /* background: url("../assets/img/1920/smm-png-8.png") center center;
  background-size: cover; */
}
.header-info__img img {
  width: 100%;
}
.header-info__button {
  margin-top: 20px;
}
.header-info__titles {
}
.package-service {
  padding: 10vh 10px;
  min-height: 88vh;
  align-items: center;
  background: linear-gradient(
    to top,
    var(--color-package-service),
    var(--color-package-service)
  );
  background-repeat: no-repeat;
}
.package-service__h {
  margin-bottom: 10vh;
}
.package-service__pack {
  min-height: 50vh;
  border-radius: 30px;
  min-width: 250px;
  width: 300px;
  padding: 30px 20px;
  background-color: var(--color-pack);
  margin-bottom: 40px;
}
.package-service__pack:last-child {
}
.package-service__pack__h {
  margin-bottom: 20px;
}
.package-service__pack li {
  margin-bottom: 20px;
}
.package-service__pack p {
  text-align: justify;
  text-indent: 20px;
}

.package-service__row {
  display: flex;
  justify-content: space-around;
}
.main {
  padding-top: 30px;
  min-height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgb(190, 223, 255, 0.4);
}
.reviews__info {
  font-size: 36px;
}
.reviews__methods {
  margin-bottom: 20px;
}
.reviews__methods__photo {
  margin-right: 20px;
  display: inline-block;
}
.reviews__methods__info {
  display: inline-block;
}
.gallery {
  padding: 7vh 5vw;
  min-height: 90vh;
  background-color: var(--color-services);
}
.reviews {
  padding: 7vh 0vw;
  min-height: 90vh;
}
.footer {
  min-height: 15vh;
  padding: 30px 40px;
  color: #fff;
  background-color: var(--color-footer);
}
.footer__contacts {
  display: inline-block;
  vertical-align: bottom;
  max-width: 300px;
  min-width: 240px;
  margin-bottom: 10px;
}
.footer__contacts__h {
  margin-bottom: 20px;
}
.footer__contacts__p {
  margin-bottom: 5px;
}
.footer__social {
  margin-bottom: 20px;
}
.footer__copyright {
  float: right;
}
.footer__copyright__logo {
  font-weight: bold;
}
.footer__copyright__list {
  padding-left: 0;
}
.footer__copyright__li {
  display: inline-block;
  padding-right: 5px;
}
.footer__copyright__li,
.footer__copyright__a {
  font-size: 12px;
  color: #939ab1;
}
.archor-main {
  position: absolute;
  top: -12vh;
}
main {
  position: relative;
}
svg {
  width: 32px;
  height: 32px;
}
.svg-telegram,
.svg-instagram,
.svg-vk,
.svg-whatsapp {
  fill: #fff;
  margin-right: 10px;
}
.svg-whatsapp {
  margin-right: 0;
}
.svg-telegram:hover {
  fill: rgb(56, 181, 228, 1);
}
.svg-whatsapp:hover {
  fill: #4fce5d;
}
.svg-vk:hover {
  fill: #597da3;
}
.svg-instagram:hover {
  fill: url(#my-cool-gradient2);
}

@media (min-width: 325px) {
  h1 {
    font-size: 28px;
  }
}
@media (min-width: 576px) {
  h1 {
    font-size: 36px;
  }
  .package-service__pack {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar a {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 44px;
  }
  .package-service__pack {
    width: 350px;
    font-size: 18px;
  }
}
@media (min-width: 970px) {
  h1 {
    font-size: 56px;
  }
  .package-service__pack {
    width: 400px;
    font-size: 16px;
  }
  #header-info {
    text-align: left;
  }
}
@media (min-width: 1100px) {
  .package-service__pack {
    width: 470px;
    font-size: 22px;
    padding: 20px 40px;
  }
  .navbar a {
    font-size: 20px;
  }
}
@media (min-width: 1300px) {
  h1 {
    font-size: 64px;
  }
}
@media (min-width: 1600px) {
  h1 {
    font-size: 68px;
  }
  .package-service__pack {
    width: 4200px;
    font-size: 22px;
  }
}
